<h2>Contacts</h2>

<a href="/new">Add a Contact</a>

<% contacts.forEach(contact => { %>

    <div class="card">
        <h4><%= contact.name %></h4>
        <p><%= contact.phoneNumber %></p>
    </div>

<% }) %>