<div class="center">
    <h1>All your contacts in one place</h1>
    
    <h3>Keep in touch with your people</h3>
    
    <a href="/users/signup" class="btn btn-solid primary">Sign Up</a>
    <a href="/users/login" class="btn btn-solid secondary">Login</a>
</div>
