<h2>Add Someone</h2>

<form action="/new" method="POST">

    <div>
        <label>Name</label>
        <input type="text" name="name" placeholder="John"/>
    </div>
    
    <div>
        <label>Phone Number</label>
        <input type="text" name="phoneNumber" placeholder="00-0000-0000">
    </div>

    <div>
        <label>E-mail Address</label>
        <input type="email" name="email" placeholder="john@gmail.com">    
    </div>

    <div>
        <label>About this person</label>
        <input type="text" name="note" placeholder="John is my friend">
    </div>

    <a href="/">Cancel</a>
    <button type="submit">Add Contact</button>
    
</form>