body {
    background-color: rgb(245, 245, 245);
}
h2 {
    margin: 2rem 0;

    text-transform: uppercase;
    font-size: 4rem;
    font-weight: normal;
}

h4 {
    margin-top: 0;
    margin-bottom: 1rem;

    text-transform: capitalize;
    font-size: 2rem;
    font-weight: normal;
}

a {
    text-decoration: none;
} 

i {
    padding: .4rem;
    font-size: 1.2rem;
}

p.note {
    color: rgb(139, 139, 139);
}

div.container {
    max-width: 40rem;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1rem 0;
    color: rgb(139, 139, 139);
}

.header {
    margin: 3rem 0;
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;

    color: rgb(34, 34, 34);
    font-size: 1.2rem;

    cursor: pointer;
    transition: .2s ease;
}

.btn:hover {
    color: rgb(75, 144, 190);
}

.btn-solid.primary {
    padding: .8rem 1.2rem;

    background-color: rgb(75, 144, 190);
    border-radius: 5px;
    border-bottom: 3px solid rgb(61, 123, 165);

    color: rgb(240, 240, 240);
    font-size: 1.2rem;
}

.card {
    padding: 1rem;
    margin-bottom: 1rem;

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.card .card-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card .card-options {
    display: flex;
}

.card .card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

