<div class="container">
    <div class="header">
        <h2>Add Someone</h2>
    </div>

    <div class="card">
        <form action="/contacts/new" method="POST">

            <div>
                <input type="text" name="name" placeholder="Name"/>
            </div>
            
            <div>
                <input type="text" name="phoneNumber" placeholder="Phone number">
            </div>

            <div>
                <input type="email" name="email" placeholder="Email address">    
            </div>

            <div>
                <input type="text" name="note" placeholder="Something about this person">
            </div>

            <div class="card-content">
                <a href="/contacts" class="btn">Cancel</a>
                <button type="submit" class="btn btn-solid primary">Add Contact</button>
            </div>
        </form>
    </div>

</div>